<app-balise [baliseRoot] = 'myRoot'></app-balise>


<!--

  <ng-container *ngTemplateOutlet="maBaliseTemplate; context: ctx">
</ng-container>

Definition de template de liste de contenus,
  un contenu peut etre une balise, un texte ou un block commente de html
pour bien fonctionner cette template doit être instanciée avec une liste de type balise

étant tout les element du tableau sont des Balise, on peut differencier les trois type concrete via le valeur rensegné

-*- bloc commenté si et seulement si attribut 'commented non null et a la valeur true'
-*- bloc Texte si et seulement si attribut 'texte' non null '
-*- dans le reste de cas le contenu est une balise qui contiendra recursivement une liste de contenu dont chaque contenu est parsé
de la maniere suivante
-->
<ng-template #maListeBaliseContenuTemplate let-listeBalise="maListeBalise">
    maListeBaliseContenuTemplate - {{listeBalise}}
    <ng-container *ngFor="let contenu of listeBalise">
      <ng-container *ngTemplateOutlet="maBaliseTemplate; context: contenu">
      </ng-container>
    </ng-container>
  </ng-template>
<!--  <ng-template #textecommentaireTemplate let-texteoucommentaire="untext">-->
  <ng-template #textecommentaireTemplate >
    <div >

         texte ou commentaire
        </div>
    </ng-template>

<ng-template #maBaliseTemplate let-balise="mabalise">
    maBaliseTemplate - {{balise.baliseName}}
  <ng-container *ngIf="balise">
    <!--      <ng-container  [ngIf]="balise.baliseName" [ngIfElse]="textecommentaireTemplate;context:balise.texte">-->
    <ng-container *ngIf="balise.baliseName;  else textecommentaireTemplate">
      <ng-container [ngSwitch]="balise.baliseName">
          <ng-container *ngSwitchCase="'div'">
            <div *ngTemplateOutlet="maListeBaliseContenuTemplate;context: balise.contenu">
            </div>
          </ng-container>
          <ng-container *ngSwitchCase="'body'">
            <ng-container *ngTemplateOutlet="maListeBaliseContenuTemplate;context: balise.contenu">
            </ng-container>
          </ng-container>
          <div *ngSwitchDefault>.other..{{ balise.baliseName }}</div>
        </ng-container>
    </ng-container>
  </ng-container>
</ng-template>
